@inherits FrontAcordionComponentBase


@if (Item == null)
{
    <div>Loading</div>
}
else
{
    <div class="card mb-2">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 d-flex justify-content-between">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" @onclick="ChangeCollapse">
                    @Item.Content
                </button>

                <div>
                    <span>Item.User.Id: @Item.User.Id</span>
                </div>

                <div>
                    <span>Item.User.AnwswersPoints: @Item.User.AnwswersPoints</span>
                    <span>Item.User.QuestionPoints: @Item.User.QuestionPoints</span>
                </div>

                @if (Item.User.AppUser != null)
                {
                    <div>
                        <span>Item.User.AppUserId: @Item.User.AppUserId</span>
                    </div>
@*                     <div><span>Item.User.Email: @Item.User.AppUser.Email</span></div> *@
                }
                <AuthorizeView>
                    <Authorized>
                        <button class="btn btn-outline-info " @onclick="AddEdit">
                            Dodaj Odpowiedź
                        </button>

                    </Authorized>
                    <NotAuthorized>
                        <button class="btn btn-outline-info disabled" disabled @onclick="AddEdit">
                            Dodaj Odpowiedź
                        </button>

                    </NotAuthorized>
                </AuthorizeView>

            </h5>
        </div>

        @foreach (var answer in Item.Answers)
        {
            <div id="collapseOne" class="collapse @(Collapse ? "show" : "")" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div>
                        @answer.Content
                    </div>

                    <div>@answer.CreatedDate</div>
                    @* <div>@answer.User.IsActive</div> *@
                    @* <div>@answer.User.AnwswersPoints</div> *@
                    @* <div>@answer.User.QuestionPoints</div> *@

                </div>
                @if (answer != Item.Answers.Last())
                {
                    <div class="dropdown-divider " style="margin: 0 1% ; border-top: 1px solid black; border-top-left-radius:50%; height: 10px;  "></div>
                }
            </div>
        }



    </div>
}
<!-- Modal -->
@if (IsModalOpen)
{
    <ModalAddAnswerComponent IsOpen="@IsModalOpen" Model="@Item" ModelChanged="@SaveAsync"></ModalAddAnswerComponent>
}