@inherits FrontQuestionAnswerListComponentBase



@if (Items == null)
{
    <div>Loading</div>
}
else
{
    <div class="container">

        <div class="row">
            <div class="col">

                <div>
                    @AuthUserIdentityName
                    @AuthUserName
                    @AuthUserEmail

                    @if (Item != null)
                    {
                        @Item.User.Id
                        @Item.User.AppUserId
                    }
                    else
                    {
                        <p>Input puste</p>
                    }

                </div>
                <div class="d-flex justify-content-end mb-4">

                    <AuthorizeView>
                        <Authorized>
                            <button class="btn btn-outline-secondary mr-4 " data-toggle="modal" data-target="#exampleModalCenter" @onclick="() => AddEdit(null)">Dodaj pytanie</button>
                        </Authorized>


                        <NotAuthorized>
                            <button class="btn btn-outline-secondary mr-4 disabled " disabled data-toggle="modal" data-target="#exampleModalCenter" @onclick="() => AddEdit(null)">Dodaj pytanie</button>
                        </NotAuthorized>
                    </AuthorizeView>

                    <button class="btn btn-outline-primary " @onclick="CollapseAllCards">X</button>
                </div>
                <div id="accordion">

                    @foreach (var question in Items)
                    {
                        <FrontAcordionComponent Item="question" Collapse="@IsCollapsed"/>
                    }
                </div>

            </div>
        </div>

    </div>
}

@* @if (Question != null) *@
@* { *@
@*     @Question.Content *@
@* } *@


<!-- Modal -->

@if (IsModalOpen)
{
    <ModalAddQuestionComponent IsOpen="@IsModalOpen" Model="@Item" ModelChanged="@SaveAsync"></ModalAddQuestionComponent>
}