@inherits FrontAcordionComponentBase


@if (Item == null)
{
    <div>Loading</div>
}
else
{
    <div class="card mb-2">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0 d-flex justify-content-between">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" @onclick="ChangeCollapse">
                    @Item.Content
                </button>
                <button class="btn btn-outline-info " @onclick="Add">
                    Dodaj Odpowiedź
                </button>
            </h5>
        </div>

        @foreach (var answer in Item.Answers)
        {
            <div id="collapseOne" class="collapse @(Collapse ? "show" : "")" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div>
                        @answer.Content
                    </div>

                    <div>@answer.CreatedDate</div>
                    @* <div>@answer.User.IsActive</div> *@
                    @* <div>@answer.User.Points</div> *@

                </div>
                @if (answer != Item.Answers.Last())
                {
                    <div class="dropdown-divider " style="margin: 0 1% ; border-top: 1px solid black; border-top-left-radius:50%; height: 10px;  "></div>
                }
            </div>
        }



    </div>
}
<!-- Modal -->
@if (ModalIsOpen)
{
    <ModalAddAnswerComponent IsOpen="@ModalIsOpen" Model="@Item" ModelChanged="@SaveAsync"></ModalAddAnswerComponent>
}
